<html>
<head>
  <meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  	<link rel="stylesheet" type="text/css" href="{{ stylesheet }}">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <title>Admin View Posts</title>
</head>
<body>
  <p>{{notification}}</p>
  <a href="/admin"> <<< ADD A POST >>> </a>
<h1>All Posts </h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Post Title</th>
      <th scope="col">Post Body</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    {% for post in posts %}
    <tr>
      <th scope="row">{{post.id}}</th>
      <td>{{post.title}}</td>
      <td>{{post.content}}</td>
      <td>
        <a class="btn btn-warning" href="/admin/post/{{post.id}}/edit" role="button">Edit</a>
        <a class="btn btn-danger" href="/admin/post/{{post.id}}/delete" role="button">Delete</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</body>
</html>